<!DOCTYPE html>
<html>
<head>
    <title>Exemplo Angular JS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <script type="application/javascript" src="/static/js/angular.min.js"></script>
    <script type="application/javascript" src="/static/js/rest-api-mock.js"></script>
    <script type="application/javascript" src="/static/js/participante.js"></script>
    <script>
        var minhaApp = angular.module('minhaApp', ['restAjax', 'gerenciadorDeParticipante'], function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{_');
            $interpolateProvider.endSymbol('_}');
        });

        function EventoCtrl($scope, RestApi) {
            $scope.nomeParticipante = '';
            $scope.listaParticipantes = [];
            $scope.adicionandoParticipante = false;
            $scope.salvarParticipanteUrl = '{{ salvar_participante_url }}';
            $scope.adicionarParticipante = function (nome) {
                $scope.adicionandoParticipante = true;
                RestApi.salvarParticipante($scope.salvarParticipanteUrl, nome).success(function (participante) {
                    $scope.listaParticipantes.unshift(participante);
                    $scope.nomeParticipante = '';
                }).always(function () {
                    $scope.adicionandoParticipante = false;
                });

            }
        }

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4" ng-app="minhaApp" ng-controller="EventoCtrl">
            <h1>Cadastro de Evento</h1>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nome do Participante" ng-model="nomeParticipante"/>
                <span class="input-group-btn">
                  <button ng-click="adicionarParticipante(nomeParticipante)"
                          ng-hide="adicionandoParticipante" class="btn btn-success" type="button">
                      <i class="glyphicon glyphicon-plus"></i>
                  </button>
                    <img ng-show="adicionandoParticipante" src="/static/img/ajax.gif"/>
                </span>

            </div>
            <br/>
            <participantestabela participantes="listaParticipantes"></participantestabela>
        </div>
    </div>
</div>

</body>
</html>