<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in participantes">
        <td>{_ p.id _}</td>
        <td>{_ p.nome _}</td>
        <td>
            <button ng-hide="p.deletando" class="btn btn-danger" ng-click="deletar(p)">
                <i class="glyphicon glyphicon-trash"></i></button>
            <img ng-show="p.deletando" src="/static/img/ajax.gif"/>
        </td>
    </tr>
    </tbody>
</table>

